html,
body {
  background-color: black;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page {
  background-color: black;
  height: 100px;
  width: 100%;
}

.emoji {
  color: antiquewhite;
}

.heading {
  font-family: "Rubik Iso";
  color: antiquewhite;
  text-align: center;
  margin: 20px auto 0;
  display: flex;
  justify-content: center;
}

.song {
  color: antiquewhite;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}
